<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzteam.zhz233.mapper.zlb.LeaseMapper">
    <!--selectTByKey-->
    <sql id="selectTByKey">
        SELECT order_no,goods_no,
        (select account from tab_user
        where tab_user.account_no = tab_lease_order.account_no) as 'account',
        (select account from tab_user,tab_lease_order
        where tab_user.account_no = tab_lease_order.buyer_no)as 'buyer',
        order_amount,order_start_time,order_end_time,order_state,create_time
        FROM tab_lease_order
    </sql>
    <!--selectTByKey-->
    <select id="selectTByKey" resultType="com.zhzteam.zhz233.model.zlb.LeaseResult">
        <include refid="selectTByKey"/>
        order by create_time desc
        limit #{pagesize}
    </select>
</mapper>
